In [6]:
print('love' < 'zebra')
print('love' < 'long')
print( 'love' != 'long')

True
False
True

In [14]:
print('i am mayar')
print('i am' + ' mayar')

str1 = 'i am'
str2 = ' mayar'
print(str1 + str2)

str3 = 'hello'
str4 = str3 + str1 + str2
print(str4)
print(str1 *3)
print(2* str1 + str2)

print('hello\tworld')
print('hello\t\tworld')

i am mayar
i am mayar
i am mayar
helloi am mayar
i ami ami am
i ami am mayar
hello	world
hello		world

In [8]:
answer = min(3, 6) 
print(answer)

answer = min(3, 6, -2) 
print (answer)
 
answer = max(9, 6, -2, 15)
print(answer)

print( max(4, 7) ) 
print( max(4, 7) + 2)

3
-2
15
7
9

In [21]:
name=input("Name: ") 
char_no=len (name) 
print(char_no)

Name: mayar
5

In [1]:
name=input("Name: ") 
print('ei' in name) 
print('seef' in name) 
print('seif' in name) 
print('ef' in name)

Name: seif
True
False
True
False

In [2]:
salary = int(input('Salary:'))
if salary < 1000:
     print('You are poor')
print('Work hard')

Salary:9000
Work hard

In [20]:
salary = int(input('Salary:'))
if salary < 1000:
    print('you are poor')
elif salary >=2000:
    print('you are rich')

Salary:9999
you are rich