In [ ]:
for item in enumerate(range(5,8)):
  idx, value = item
  print(idx, value)


for idx, value in enumerate(range(5,8)):
  print(idx, value)

  
for idx, value in enumerate('ali'):
  print(idx, value)

0 5
1 6
2 7
0 5
1 6
2 7
0 a
1 l
2 i

In [ ]:
for item in enumerate('mayar'):
  char, value = item
  print(char,value)

0 m
1 a
2 y
3 a
4 r

In [ ]:
x = 3

def sum_two_nos(y):
  x=2
  sum_of_nos = x + y
  return sum_of_nos

In [ ]:
print(x)

3

In [ ]:
sum_two_nos(5)

7

In [ ]:


def sum_two_nos(y):
  x=2
  sum_of_nos = x + y
  print(x)
  return x


x = 3

In [ ]:
print(x)

3

In [ ]:
name = "mayar"
def outerFn():
  name = "omar"

  def inn():
    print(name)


  inn()


outerFn()
print(name)

omar
mayar

In [ ]:
def f(a, b, c, d, e = 10):
  print(a, b, c, d, e)

f(1, 2, 3, 4, 5)

1 2 3 4 5

In [ ]:
def summ(x, y):

  return x + y

x = summ(5,10)
y = summ("mayar", "hashem")
print(x,y)

15 mayarhashem

Docstring:

In [ ]:
def square(n):
    '''Takes in a number n, returns the square of n'''
    return n**2

print(square.__doc__)

Takes in a number n, returns the square of n